:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: grid;

  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

.main-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  gap: 60px;
}

.main-title h1 {
  font-size: 2.5rem;
  background: linear-gradient(135deg, #00ffff, #006b7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}

.contenaire {
  margin: 30px auto 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  border: 2px solid #00ffff;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    rgba(0, 106, 125, 0.15),
    rgba(0, 0, 0, 0.4)
  );
}


.contenaire p {
  font-size: large;
}

.all_button {
  width: 30%;
  font-size: medium;
  color: #00ffff;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  background: linear-gradient(
    135deg,
    rgba(0, 106, 125, 0.15),
    rgba(0, 0, 0, 0.4)
  );
  border: 2px solid #00ffff;
  border-radius: 10;
  box-shadow: 1 1 20 #00ffff;
  padding: 20;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h3 {
  color: #00ffff;
  text-align: center;
}
h2 {
  color: #00ffff;
  text-align: center;
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  margin-bottom: 10px;
  font-size: x-large;
}
