


.saisie_area {
  width: 25vw;
  min-width: 300px;
  font-size: large;
  border: 2px solid #00ffff;
  padding: 5;
}

.qrCode{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.saisie_button_container {
width: 80%;
  display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-items: center;}

.afficheQr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30;
}

.input_button {
  background: linear-gradient(
    135deg,
    rgba(0, 106, 125, 0.15),
    rgba(0, 0, 0, 0.4)
  );
  font-size: large;
  padding: 30px;
  border: 2px solid #00ffff;
  border-radius: 10;
}

/* Responsive */
@media (max-width: 768px) {
  .main-title h1 {
    font-size: 1.8rem;
  }

  .a-propos-contenaire {
    grid-template-columns: 1fr;
  }

  .a-propos-contenaire h2 {
    grid-column: 1;
  }

  .section-amelioration {
    grid-template-columns: 1fr;
  }

  .p-border {
    padding: 0;
    border: none;
  }

  .saisie_button_container{
    grid-template-columns: 1fr;
    gap: 10px;
  }

}
